@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
    color: #000; /* Text color */
    background-color: white; /* Background color */
  }
 
  .darks{
    color: #000;
    /* border: 2px solid black; */
    background-color:rgb(130, 149, 130);
  }
  